* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	-moz-osx-font-smoothing: grayscale;
	font-family: 'HyundaiSansTextKR', 'Magul Gothic';
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}

ul,
dl,
ol {
	list-style: none;
	/* padding: 0; */
}

/* b, strong, h1, h2, h3, h4 {
    font-weight: 400;
} */
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

a,
article,
button,
div,
input,
li,
nav,
p,
section,
textarea,
ul {
	box-sizing: border-box;
}

label,
button,
a {
	cursor: pointer;
}

button {
	border: none;
	background: transparent;
	padding: 5px;
}

strong,
b {
	font-weight: 500;
}